/ A03(A) | https://app.clickup.com/t/1rw63n2
br
div = "#{@resource.last_name} #{t('customer_users.mailer.reset_password_instruction.content.sama')}"
br
div = t('customer_users.mailer.reset_password_instruction.content.line_1')
div = t('customer_users.mailer.reset_password_instruction.content.line_2')
div = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)
br
div = t('customer_users.mailer.reset_password_instruction.content.line_3')
div = t('customer_users.mailer.reset_password_instruction.content.line_4')
br

= render 'layouts/mailer_partials/footer'
