= simple_form_for @camp_car_booking, url: add_note_admin_camp_car_booking_path(@camp_car_booking) do |f|
  = f.input :note, label: false, input_html: {rows: 5}
  = f.submit t('views.buttons.save'), type: :submit, class: 'btn btn-primary font-14 float-right'
