br
div = t('contact_us_mailer.send_customer_inquiry_detail_email_to_admin.content.line_1')
div = t('contact_us_mailer.send_customer_inquiry_detail_email_to_admin.content.line_2')
br
= render 'layouts/mailer_partials/admin_footer'
