= f.hidden_field :state, value: params[:state]
= f.hidden_field :prefecture, value: params[:prefecture]
= f.hidden_field :start_date, value: params[:start_date]
= f.hidden_field :end_date, value: params[:end_date]
