div = "#{@travel_package.item_name} #{t('campsite_booking_mailer.send_temporary_sale_email_to_admin.content.sama')}"
br
div = t('campsite_booking_mailer.send_temporary_sale_email_to_admin.content.line_1')
div = t('campsite_booking_mailer.send_temporary_sale_email_to_admin.content.line_2')
br
= render 'layouts/mailer_partials/admin_footer'
