= f.input :email, placeholder: t('activerecord.attributes.customer_user.email'),
          label_html: { class: 'font-12 font-weight-bold' },
          input_html: { class: 'box-shadown-input font-14' }
