br
div = "#{@customer_user.last_name} #{t('customer_user_mailer.send_password_reset_confirmation.content.sama')}"
br
div = t('customer_user_mailer.send_password_reset_confirmation.content.line_1')
div = t('customer_user_mailer.send_password_reset_confirmation.content.line_2')
br
div = t('customer_user_mailer.send_password_reset_confirmation.content.line_3')
div = t('customer_user_mailer.send_password_reset_confirmation.content.line_4')
br

= render 'layouts/mailer_partials/footer'
