div = t('customer_user_mailer.send_withdrawal_membership_confirmation_email_to_customer.content.line_1')
div = t('customer_user_mailer.send_withdrawal_membership_confirmation_email_to_customer.content.line_2')
br
div = t('customer_user_mailer.send_withdrawal_membership_confirmation_email_to_customer.content.line_3')
br

= render 'layouts/mailer_partials/footer'