- if current_admin_user.is_super_admin?
  = f.input :supplier_company_id,
            as: :select,
            collection: camp_car_supplier_companies_collection,
            include_blank: false,
            input_html: { class: 'supplier-company-handler' }

- resource_collections.each do |resource_collection|
  ruby:
    collection =  if current_admin_user.is_super_admin?
                    []
                  else
                    (resource_collection[:collection].values[0] || []).map { |data| [data[:label], data[:id]] }
                  end

  = f.input resource_collection[:attribute],
            as: :select,
            collection: collection,
            include_blank: false,
            input_html: { class: 'select2 resource-by-company',
              data: {options: resource_collection[:collection], selected: resource_collection[:selected]} }. \
              merge(resource_collection[:input_html_options].present? ? resource_collection[:input_html_options] : {}),
            label: t("activerecord.models.#{params[:item_type]}.one")
